<p>Bonjour <%= @user.first_name %> <%= @user.last_name %></p>

<p>Welcome to Dikkechek!</p>
<p>Grace à dikkecheck, vous pouvez :</p>
<ul>
  <li>Trouver un belge près de chez-vous</li>
  <li>Lui envoyer une demande de location</li>
  <li>Ou encore devenir Dikkechecker</li>
</ul>

<p>See ya!</p>
