.belgian-show {
  text-align: center;
  background: white;
  width: 600px;
  height: 520px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.belgian-title {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 8px;
  text-transform: uppercase;
}


.belge-img {
  margin-bottom: 30px;
}

.belgian-reviews-title {
  text-align: center;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

#reviews-row {
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.btn-show {
  display: flex;
  justify-content: center;
}

.btn-all {
  margin-top: 10px;
  margin-right: 10px;
}

.btn-review {
  margin-top: 10px;
}
