<div class="map-layout">
  <div class="cards_container">
    <div class="row">
      <div class="col-xs-12">
        <form class="form-inline form-in-show text-center" action='belges' autocomplete="on">
          <input type="text" class="form-control" id="inlineFormInput" name="city" placeholder="Search by city">
          <!-- <select class="form-control" name="accent">
            <option value="accent Bruxelles">Accent de Bruxelles</option>
            <option value="accent de Charleroi">Accent de Charleroi</option>
            <option value="accent de Namur">Accent de Namur</option>
          </select> -->
          <button type="submit" class="btn btn-danger">Search</button>
        </form>
      </div>
    </div>
    <% if @belges.blank? %>
    <div class="error"><h3>Oops, there are no Belgians in this city yet.</h3></div>
    <div class="img-error"><img src="http://res.cloudinary.com/copas/image/upload/v1503060121/lost1_pnesfq.jpg"></div>
    <% end %>
    <div class="row">
      <% @belges.each do |belge| %>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <%= render 'card', belge: belge  %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="map-container">
    <div id="map"></div>
  </div>
</div>
<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>
