<div class="map-layout">
  <div class="cards_container">
    <div class="row">
      <div class="col-xs-12">
        <form class="form-inline form-in-show text-center" action='belges'>
          <input type="text" class="form-control" id="inlineFormInput" name="city" placeholder="Search by city">
          <button type="submit" class="btn btn-danger">Search</button>
        </form>
      </div>
    </div>
    <div class="row">
      <% @belges.each do |belge| %>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <%= render 'card', belge: belge  %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="map-container">
    <div id="map"></div>
  </div>
</div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    if (markers.length == 0) {
    handler.getMap().setZoom(2);
    } else if (markers.length == 1) {
    handler.getMap().setZoom(14);
    }
    });
    });
  <% end %>
<% end %>
