<div class="index-title"> <h1>Tous nos Dikkecheker</h1> </div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <% @belges.each do |belge| %>
      <%= render 'card', belge: belge  %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <div id="map" style="width: 100%; height: 100vh;"></div>
    </div>
  </div>
</div>
<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>
