<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.3) 50%), url('https://www.streetpress.com/sites/default/files/field/image/olivier-von-hoffstadt-damiens-cover4.jpg');">
  <div class="banner-content">
    <div>
      <%= image_tag "logo_white.png", id: "logo"%>
    </div>
    <div>
      <%= image_tag "logo_text_white.png", id: "logo_text"%>
    </div>
    <p>Find your belgian friend</p>
    <form class="form-inline" action='belges' autocomplete="on">
      <label class="sr-only" for="inlineFormInput"></label>
      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" name="city" placeholder="Type a city">
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>
<div class="container">
<h1>Dikkecheker Highlights</h1>
  <div class="row">
    <% @belges.each do |belge| %>
      <%= render 'shared/card', belge: belge %>
    <% end %>
  </div>
</div>

