<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.3) 50%), url('https://www.streetpress.com/sites/default/files/field/image/olivier-von-hoffstadt-damiens-cover4.jpg');">
  <div class="banner-content">
    <div>
      <%= image_tag "logo_white.png", id: "logo"%>
    </div>
    <div>
      <%= image_tag "logo_text_white.png", id: "logo_text"%>
    </div>
    <p>Find a Belges</p>

    <%= link_to 'Search by localisation', belges_path, {class: "btn btn-danger btn-lg"} %>
  </div>
</div>

