.avatar-large {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-right: 0px;
}

.message {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid #DCDFE0;
  border-radius: 3px;
  background-color: #FFFEFE;
  margin-right: 20px;
  margin-bottom: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  padding-left: 30px;
  min-width: 30px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 1;
  margin-top: 12px;
}
.message-body {
  margin-left: 30px;
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,1);
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,1);
}
.message-body strong{
  color: rgba(0,0,0,1);
  color: rgba(0,0,0,1);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  margin-top: 12px;
}
.status.accepted {
  color: #008000;
}
.status.declined {
  color: red;
}
.status.pending {
  color: blue;
}
